<html ng-app="myapp" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Jeu de Genre</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="icon" type="image/png" href="frenchFlag.png">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
        <script src="dictionaryWords.js"></script>
        <script>

            var app = angular.module("myapp", []);
            var alreadySeen = [];
            alreadySeen.length = dict.length;
          //use a random dictionary element to set the first vocab word displayed upon loading
            var randomIndex = Math.floor(Math.random() * dict.length);

            app.controller('controller', function($scope) {

                //initialise variables when page is loaded for the first time
                $scope.seenCounter = 1;
                $scope.score = 0;
                $scope.random = dict[randomIndex].word;
                $scope.translation = "English Translation";
                $(".result").fadeToggle();
                $(".scoreChange").fadeToggle();

                //function to get a random word from the list
                $scope.getRandom = function() {
                  if ($scope.seenCounter != alreadySeen.length) {
                    do {
                      randomIndex = Math.floor(Math.random() * dict.length);

                    } while(alreadySeen[randomIndex] == 1);

                        $scope.random = dict[randomIndex].word;
                        //set the previous translation back to original text
                        $scope.translation = "English Translation";
                        $scope.addToSeen();
                  } else {
                    $scope.endGame();
                  }
                };


                //function to get translation of a word
                $scope.getTranslation = function() {
                  $scope.translation = dict[randomIndex].translation;
                };

                //function to check if answer is correct, and update score accordingly
                $scope.checkGender = function(gender) {
                    $(".result").fadeToggle();
                    $(".scoreChange").fadeToggle();
                    if(gender == dict[randomIndex].gender) {
                        $scope.result = "correct";
                        // change colour to green if correct
                        $scope.styleObj = {
                            "color" : "green"
                        }
                        $scope.scoreChange = "+1";
                        $scope.score++;

                    } else {
                        $scope.result = "incorrect";
                        // change colour to red if correct
                        $scope.styleObj = {
                            "color" : "red"
                        }
                        $scope.scoreChange = "-1";
                        $scope.score--;
                    }
                    $(".result").fadeOut("slow");
                    $(".scoreChange").fadeOut("slow");
                };

                //function to stre words that have already come up
                $scope.addToSeen = function() {
                  alreadySeen[randomIndex] = 1;
                  $scope.seenCounter++;
                };

                $scope.endGame = function() {
                  alert("You have finished the game!");
                }

            });

        </script>
    </head>
    <body ng-view >
        <span ng-controller="controller">
            <nav class="navbar navbar-light bg-white">
                <a class="navbar-brand" href="#">
                    <img src="frenchFlag.png" width="30" height="30" class="d-inline-block align-top" alt="French flag">
                    Jeu de Genre
                </a>
                <span class="navbar-text">
                    <span class="scoreChange" ng-style="styleObj">{{scoreChange}}</span>
                    <span class="score">{{score}}</span>
                </span>
            </nav>
            <div class="container">
                <div class = "randomWord">{{random}}</div>
                <div class = "buttons">
                    <button ng-click="checkGender('m'); getRandom();" class = "btn btn-outline-primary" >le</button>
                    <button ng-click="checkGender('f'); getRandom();" class = "btn btn-outline-danger" >la</button>
                </div>
                <a ng-click="getTranslation();" class="translation">{{translation}}</a>
                <div class = "result" ng-style="styleObj">{{result}}</div>
            </div>
        </span>
    <script src="js/filters.js"></script>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
    </body>
</html>
