body {
  background-color: rgb(199, 227, 255);
}
.randomWord {
    text-align: center;
    font-size: 60px;
}
.result {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.buttons {
    text-align: center;
    margin-top: 20px;
}
.btn {
    margin: 10px;
}
.container {
    text-align: center;
    margin-top: 10%;
}
.score {
    font-size: 30px;
    margin-right: 10px;
}
.scoreChange {
    font-size: 25px;
    margin-right: 10px;
}
.translation {
  text-decoration: none;
  font-size: 15px;
  margin-top: 30px;
}
.endGameText {
    margin-top: 10%;
    font-size: 60px;
}
.endGameButton {
    margin-top: 20px;
}
.finalScoreText {
    margin-top: 20px;
    font-size: 25px;
}
.mainContainer {
    margin: 10%;
    text-align: center;
}
.navbar {
    -webkit-box-shadow: 10px 10px 217px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 217px -28px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 217px -28px rgba(0,0,0,0.75);
    height: 10%;
}